body{
  /* background-image: url('/bricks.jpg'); */
  background-color: black;
  background-repeat: repeat;
  background-attachment: fixed;
  color: white;
}

header{
  margin-top: 35px;
}

.form-control{
  color: black;
  border-radius: 24px;
}

h1{
  font-size: 3.9em;
}

form{
  margin-bottom: 30px;
}

.navbar-btn{
  margin-right: 12px;
}

.artist{
  background-color: white;
  color: black;
  /* top | right | bottom | left */
  padding: 0 1em .5em 1em;
  margin-bottom: 20px;
  word-wrap:break-word;
  border-radius: 8px;
}

h3{
  padding-top: .6em;
}

h2{
  /* top | right | bottom | left */
  padding: .3em 0 .3em 0;
  border-radius: 8px;
}

ul{
  list-style-type: none;
  margin-top: 1em;
  padding-left: 0;
}

li{
  /* top | right | bottom | left */
  margin-top: 1em;
}

#savedArtists{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#savedArtist{
    float: left;
    /* top | right | bottom | left */
    margin: 0 1em 1em 0;
    color: white;
}


.btn {
	border-radius: 50px;
}

.btn:hover{
  border-style: solid;
  border-color: #ff79c6;
  border-width: 5px;
}

.btn-xs{
  /* top | right | bottom | left */
  background-color: #333 !important;
  color: white;
  padding: 2px 10px;
  border-radius: 24px;
  border: none;
  background: none;
  color: white;
}

.btn-xs:hover{
  border-style: solid;
  border-color: #ff79c6;
  border-width: 5px;
}

#pinkButton{
    background-color: #bd93f9 !important;
    color: black;
}

#pinkButton:hover{
  border-style: solid;
  border-color: #8be9fd;
  border-width: 5px;
}
