body{
  background-image: url('/bricks.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  color: white;
}

.form-control{
  color: black;
}

h1{
  font-size: 3.9em;
}

form{
  margin-bottom: 30px;
}

.navbar-btn{
  margin-right: 20px;
}

.artist{
  background-color: #666;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  margin-bottom: 20px;
  border-radius: 8px;
  color: black;
}

h3{
  color: white;
  padding-top: 12px;
}
