body{
  background-image: url('/bricks.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  color: white;
}

.form-control{
  color: black;
}

h1{
  font-size: 3.9em;
}

form{
  margin-bottom: 30px;
}

.navbar-btn{
  margin-right: 20px;
}

.artist{
  background-color: black;
  padding: 4px;
  margin-bottom: 20px;
  border-radius: 12px;
}
